{
  "openapi": "3.0.1",
  "info": {
    "title": "SSHOC Marketplace API",
    "description": "Social Sciences and Humanities Open Cloud Marketplace",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://marketplace-api.sshopencloud.eu",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/workflows/{persistentId}": {
      "get": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Get single workflow by its persistentId",
        "operationId": "getWorkflow",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Updating workflow for given persistentId",
        "operationId": "updateWorkflow",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Delete workflow by its persistentId",
        "operationId": "deleteWorkflow",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/workflows/{persistentId}/versions/{versionId}/revert": {
      "put": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Revert workflow to target version by its persistentId and versionId that is reverted to",
        "operationId": "revertWorkflow",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows/{persistentId}/steps/{stepPersistentId}": {
      "get": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Get single step by its persistentId and workflow persistentId",
        "operationId": "getStep",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stepPersistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Updated step for given persistentId and workflow persistentId",
        "operationId": "updateStep",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stepPersistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Delete step by its persistentId and workflow persistentId",
        "operationId": "deleteStep",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stepPersistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/workflows/{persistentId}/steps/{stepPersistentId}/versions/{stepVersionId}/revert": {
      "put": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Revert step to target version by its persistentId and versionId that is reverted to",
        "operationId": "revertStep",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stepPersistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stepVersionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows/{persistentId}/revert": {
      "put": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Revert workflow by its persistentId. This method will set its status to ACTIVE and its versioned item to REVIEWED status and active state.",
        "operationId": "revertWorkflow_1",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/vocabularies/{vocabulary-code}/concepts/{code}": {
      "get": {
        "tags": [
          "concept-controller"
        ],
        "summary": "Get concept for given vocabulary code and concept code",
        "operationId": "getConcept",
        "parameters": [
          {
            "name": "vocabulary-code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "concept-controller"
        ],
        "summary": "Update concept for given vocabulary code and concept code",
        "operationId": "updateConcept",
        "parameters": [
          {
            "name": "vocabulary-code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConceptCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "concept-controller"
        ],
        "summary": "Delete concept for given vocabulary code and concept code",
        "operationId": "deleteConcept",
        "parameters": [
          {
            "name": "vocabulary-code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/vocabularies/{vocabulary-code}/concepts/{code}/commit": {
      "put": {
        "tags": [
          "concept-controller"
        ],
        "summary": "Commit concept for given vocabulary code and concept code",
        "operationId": "commitConcept",
        "parameters": [
          {
            "name": "vocabulary-code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/vocabularies/{code}": {
      "get": {
        "tags": [
          "vocabulary-controller"
        ],
        "summary": "Get vocabulary for given code",
        "operationId": "getVocabulary",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "vocabulary-controller"
        ],
        "summary": "Update vocabulary for given code and file",
        "operationId": "updateVocabulary",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "ttl"
                ],
                "type": "object",
                "properties": {
                  "ttl": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyBasicDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "vocabulary-controller"
        ],
        "summary": "Delete vocabulary for given code",
        "operationId": "deleteVocabulary",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/vocabularies/{code}/open": {
      "put": {
        "tags": [
          "vocabulary-controller"
        ],
        "summary": "Open the given vocabulary to new concepts",
        "operationId": "openVocabulary",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyBasicDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/vocabularies/{code}/close": {
      "put": {
        "tags": [
          "vocabulary-controller"
        ],
        "summary": "Close the given vocabulary to new concepts",
        "operationId": "closeVocabulary",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyBasicDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/status/{userStatus}": {
      "put": {
        "tags": [
          "user-controller"
        ],
        "summary": "Update user status for given user",
        "operationId": "updateUserStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userStatus",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "during-registration",
                "enabled",
                "locked"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/role/{userRole}": {
      "put": {
        "tags": [
          "user-controller"
        ],
        "summary": "Update user role for given user",
        "operationId": "updateUserRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userRole",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "contributor",
                "system-contributor",
                "moderator",
                "system-moderator",
                "administrator"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/password": {
      "put": {
        "tags": [
          "user-controller"
        ],
        "summary": "Update password for given user",
        "operationId": "updateUserPassword",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPasswordData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/{id}/display-name": {
      "put": {
        "tags": [
          "user-controller"
        ],
        "summary": "Update displayed name for given user",
        "operationId": "updateUserDisplayName",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDisplayNameCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-materials/{persistentId}": {
      "get": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Get single training material by its persistentId",
        "operationId": "getTrainingMaterial",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingMaterialDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Updating training material for given persistentId",
        "operationId": "updateTrainingMaterial",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingMaterialCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingMaterialDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Delete training material by its persistentId",
        "operationId": "deleteTrainingMaterial",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/training-materials/{persistentId}/versions/{versionId}/revert": {
      "put": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Revert training material to target version by its persistentId and versionId that is reverted to",
        "operationId": "revertTrainingMaterial",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingMaterialDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-materials/{persistentId}/revert": {
      "put": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Revert training material by its persistentId. This method will set its status to ACTIVE and its versioned item to REVIEWED status and active state.",
        "operationId": "revertTrainingMaterial_1",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingMaterialDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/tools-services/{persistentId}": {
      "get": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Get single tool by its persistentId",
        "operationId": "getTool",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Updating tool for given persistentId",
        "operationId": "updateTool",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Delete tool by its persistentId",
        "operationId": "deleteTool",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/tools-services/{persistentId}/versions/{versionId}/revert": {
      "put": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Revert tool to target version by its persistentId and versionId that is reverted to",
        "operationId": "revertTool",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/tools-services/{persistentId}/revert": {
      "put": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Revert tool by its persistentId. This method will set its status to ACTIVE and its versioned item to REVIEWED status and active state.",
        "operationId": "revertTool_1",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/sources/{id}": {
      "get": {
        "tags": [
          "source-controller"
        ],
        "operationId": "getSource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "source-controller"
        ],
        "operationId": "updateSource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "source-controller"
        ],
        "operationId": "deleteSource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/publications/{persistentId}": {
      "get": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Get single publication by its persistentId",
        "operationId": "getPublication",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Updating publication for given persistentId",
        "operationId": "updatePublication",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicationCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Delete publication by its persistentId",
        "operationId": "deletePublication",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/publications/{persistentId}/versions/{versionId}/revert": {
      "put": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Revert publication to target version by its persistentId and versionId that is reverted to",
        "operationId": "revertPublication",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/publications/{persistentId}/revert": {
      "put": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Revert publication by its persistentId. This method will set its status to ACTIVE and its versioned item to REVIEWED status and active state.",
        "operationId": "revertPublication_1",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/property-types/{code}": {
      "get": {
        "tags": [
          "property-type-controller"
        ],
        "summary": "Get property type by code ",
        "operationId": "getPropertyType",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyTypeDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "property-type-controller"
        ],
        "summary": "Update property type by code",
        "operationId": "updatePropertyType",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyTypeCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyTypeDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "property-type-controller"
        ],
        "summary": "Delete property type by code",
        "operationId": "deletePropertyType",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyTypeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/token": {
      "put": {
        "tags": [
          "token-controller"
        ],
        "operationId": "validateImplicitGrantToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImplicitGrantTokenData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthRegistrationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/oauth/sign-up": {
      "put": {
        "tags": [
          "o-auth-2-registration-controller"
        ],
        "summary": "Sign-up",
        "operationId": "registerOAuth2User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthRegistrationData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/media-sources/{code}": {
      "get": {
        "tags": [
          "media-source-controller"
        ],
        "summary": "Getting single media source for given media source code",
        "operationId": "getMediaSource",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaSourceDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "media-source-controller"
        ],
        "summary": "Updating media source for given media source code",
        "operationId": "updateMediaSource",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaSourceCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaSourceDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "media-source-controller"
        ],
        "summary": "Deleting media source for given media source code",
        "operationId": "deleteMediaSource",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/items/{itemId}/comments/{id}": {
      "put": {
        "tags": [
          "item-comment-controller"
        ],
        "summary": "Update comment for given comment id and itemId",
        "operationId": "updateItemComment",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemCommentCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemCommentDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "item-comment-controller"
        ],
        "summary": "Delete comment for given comment id and itemId",
        "operationId": "deleteItemComment",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/items-relations/{code}": {
      "get": {
        "tags": [
          "item-relation-controller"
        ],
        "summary": "Get single type of relation between items by its code",
        "operationId": "getItemRelation",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemRelationDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "item-relation-controller"
        ],
        "summary": "Update a type of relation between items",
        "operationId": "updateItemRelation",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemRelationCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemRelationDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "item-relation-controller"
        ],
        "summary": "Delete a type of relation between items by its code",
        "operationId": "deleteItemRelation",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/item-sources/{sourceCode}": {
      "get": {
        "tags": [
          "item-source-controller"
        ],
        "summary": "Get item sources for given source code",
        "operationId": "getItemSource",
        "parameters": [
          {
            "name": "sourceCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemSourceDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "item-source-controller"
        ],
        "summary": "Update item sources for given source code",
        "operationId": "updateItemSource",
        "parameters": [
          {
            "name": "sourceCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemSourceCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemSourceDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "item-source-controller"
        ],
        "summary": "Delete item sources for given source code",
        "operationId": "deleteItemSource",
        "parameters": [
          {
            "name": "sourceCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/item-reindex": {
      "put": {
        "tags": [
          "index-controller"
        ],
        "operationId": "reindexItems",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/item-autocomplete-rebuild": {
      "put": {
        "tags": [
          "index-controller"
        ],
        "operationId": "rebuildAutocompleteIndex",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/datasets/{persistentId}": {
      "get": {
        "tags": [
          "dataset-controller"
        ],
        "summary": "Get single dataset by its persistentId",
        "operationId": "getDataset",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "redirect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "dataset-controller"
        ],
        "summary": "Updating dataset for given persistentId",
        "operationId": "updateDataset",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "dataset-controller"
        ],
        "summary": "Delete dataset by its persistentId",
        "operationId": "deleteDataset",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/datasets/{persistentId}/versions/{versionId}/revert": {
      "put": {
        "tags": [
          "dataset-controller"
        ],
        "summary": "Revert dataset to target version by its persistentId and versionId that is reverted to",
        "operationId": "revertDataset",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/datasets/{persistentId}/revert": {
      "put": {
        "tags": [
          "dataset-controller"
        ],
        "summary": "Revert dataset by its persistentId. This method will set its status to ACTIVE and its versioned item to REVIEWED status and active state.",
        "operationId": "revertDataset_1",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/concept-reindex": {
      "put": {
        "tags": [
          "index-controller"
        ],
        "operationId": "reindexConcepts",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/actors/{id}": {
      "get": {
        "tags": [
          "actor-controller"
        ],
        "summary": "Get actor given by id with optional list of items that actor contributes to ",
        "operationId": "getActor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "items",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "actor-controller"
        ],
        "operationId": "updateActor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "actor-controller"
        ],
        "summary": "Delete actor by given id. Force delete can be used by administrators only.",
        "operationId": "deleteActor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/actor-sources/{sourceCode}": {
      "get": {
        "tags": [
          "actor-source-controller"
        ],
        "summary": "Retrieve single actor sources by source code",
        "operationId": "getActorSource",
        "parameters": [
          {
            "name": "sourceCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorSourceDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "actor-source-controller"
        ],
        "operationId": "updateActorSource",
        "parameters": [
          {
            "name": "sourceCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorSourceCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorSourceDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "actor-source-controller"
        ],
        "summary": "Delete actor sources by source code",
        "operationId": "deleteActorSource",
        "parameters": [
          {
            "name": "sourceCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/actor-roles/{roleCode}": {
      "get": {
        "tags": [
          "actor-role-controller"
        ],
        "summary": "Get actor role by role code",
        "operationId": "getActorRole",
        "parameters": [
          {
            "name": "roleCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorRoleDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "actor-role-controller"
        ],
        "operationId": "updateActorRole",
        "parameters": [
          {
            "name": "roleCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActorRoleCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActorRoleDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "actor-role-controller"
        ],
        "summary": "Delete actor role by given role code",
        "operationId": "deleteActorRole",
        "parameters": [
          {
            "name": "roleCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/actor-reindex": {
      "put": {
        "tags": [
          "index-controller"
        ],
        "operationId": "reindexActors",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/workflows": {
      "get": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Retrieve all workflows in pages",
        "operationId": "getWorkflows",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedWorkflows"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Creating workflow",
        "operationId": "createWorkflow",
        "parameters": [
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows/{persistentId}/steps": {
      "post": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Creating step for given persistentId and workflow persistentId",
        "operationId": "createStep",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows/{persistentId}/steps/{stepPersistentId}/steps": {
      "post": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Creating substep for given persistentId and workflow persistentId",
        "operationId": "createSubstep",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stepPersistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows/{persistentId}/steps/merge": {
      "post": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Performing merge into step",
        "operationId": "mergeStep",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StepCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StepDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows/{persistentId}/commit": {
      "post": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Committing draft of workflow by its persistentId",
        "operationId": "publishWorkflow",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/workflows/merge": {
      "post": {
        "tags": [
          "workflow-controller"
        ],
        "summary": "Performing merge into workflow",
        "operationId": "mergeWorkflow",
        "parameters": [
          {
            "name": "with",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/vocabularies": {
      "get": {
        "tags": [
          "vocabulary-controller"
        ],
        "summary": "Get all vocabularies in pages",
        "operationId": "getVocabularies",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedVocabularies"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "vocabulary-controller"
        ],
        "summary": "Create vocabulary from file",
        "operationId": "createVocabulary",
        "parameters": [
          {
            "name": "closed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "ttl"
                ],
                "type": "object",
                "properties": {
                  "ttl": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VocabularyBasicDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/vocabularies/{vocabulary-code}/concepts": {
      "post": {
        "tags": [
          "concept-controller"
        ],
        "summary": "Create concept for given vocabulary code",
        "operationId": "createConcept",
        "parameters": [
          {
            "name": "vocabulary-code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "candidate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConceptCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/vocabularies/{vocabulary-code}/concepts/{code}/merge": {
      "post": {
        "tags": [
          "concept-controller"
        ],
        "summary": "Merge concepts",
        "operationId": "mergeConcepts",
        "parameters": [
          {
            "name": "vocabulary-code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConceptDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "summary": "Get all users in pages",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "username",
                "date"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedUsers"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "user-controller"
        ],
        "summary": "Create new user",
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-materials": {
      "get": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Retrieve all training materials in pages",
        "operationId": "getTrainingMaterials",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTrainingMaterials"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Creating training material",
        "operationId": "createTrainingMaterial",
        "parameters": [
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingMaterialCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingMaterialDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-materials/{persistentId}/commit": {
      "post": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Committing draft of training material by its persistentId",
        "operationId": "publishTrainingMaterial",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingMaterialDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-materials/merge": {
      "post": {
        "tags": [
          "training-material-controller"
        ],
        "summary": "Performing merge into training material",
        "operationId": "mergeTrainingMaterial",
        "parameters": [
          {
            "name": "with",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainingMaterialCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingMaterialDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/tools-services": {
      "get": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Retrieve all tools services in pages",
        "operationId": "getTools",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedTools"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Creating tool",
        "operationId": "createTool",
        "parameters": [
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/tools-services/{persistentId}/commit": {
      "post": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Committing draft of tool by its persistentId",
        "operationId": "publishTool",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/tools-services/merge": {
      "post": {
        "tags": [
          "tool-controller"
        ],
        "summary": "Performing merge into tool",
        "operationId": "mergeTool",
        "parameters": [
          {
            "name": "with",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/sources": {
      "get": {
        "tags": [
          "source-controller"
        ],
        "operationId": "getSources",
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "date"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSources"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "source-controller"
        ],
        "operationId": "createSource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/publications": {
      "get": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Retrieve all publications in pages",
        "operationId": "getPublications",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "approved",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPublications"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Creating publication",
        "operationId": "createPublication",
        "parameters": [
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicationCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/publications/{persistentId}/commit": {
      "post": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Committing draft of publication by its persistentId",
        "operationId": "publishPublication",
        "parameters": [
          {
            "name": "persistentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/publications/merge": {
      "post": {
        "tags": [
          "publication-controller"
        ],
        "summary": "Performing merged into publication",
        "operationId": "mergePublication",
        "parameters": [
          {
            "name": "with",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicationCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicationDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/property-types": {
      "get": {
        "tags": [
          "property-type-controller"
        ],
        "summary": "Get all property types in pages",
        "operationId": "getPropertyTypes",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "perpage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPropertyTypes"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "property-type-controller"
        ],
        "summary": "Create property type ",
        "operationId": "createPropertyType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyTypeCore"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyTypeDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/property-types/reorder": {
      "post": {
        "tags": [
          "property-type-controller"
        ],
        "summary": "Reorganize property type order",
        "operationId": "reorderPropertyTypes",
        "requestBody": {
          "content": {
            "application/json": {
[...]
